body{
	background: url("exci1.png") fixed no-repeat;
	background-size: cover;
}

.indiani{
position: absolute;
top: 65px;
left: 450px;
width: 500px;
height: 500px;
z-index: 1000px;
background-color: #FFFFFF;
border-radius: 10px;  border:20px solid green;
animation: sad;
animation-iteration-count: 1;
animation-duration: 2s;

}
@keyframes sad{
0%{top: -1000px;left: 450px;}
100%{top: 	65px;left: 450px;}

}

.CUADRO1{
	position: absolute;
	top: 1000px;
	left: 250px;
	width: 900px;
	height: 400px;
	background-color: #FFFFFF;
	border-radius: 10px;  border:20px solid green;
}


.CUADRO2{
   position: absolute;
   top: 2000px;
   left: 250px;
   width: 900px;
   height: 400px;
   background-color: #FFFFFF;
   border-radius: 10px;  border:20px solid green;
}

.CUADRO3{
   position: absolute;
   top: 3000px;
   left: 250px;
   width: 900px;
   height: 400px;
   background-color: #FFFFFF;
   border-radius: 10px;  border:20px solid green;
}

.CUADRO4{
   position: absolute;
   top: 4000px;
   left: 250px;
   width: 900px;
   height: 400px;
   background-color: #FFFFFF;
   border-radius: 10px;  border:20px solid green;
}
.CUADRO5{
   position: absolute;
   top: 5000px;
   left: 250px;
   width: 900px;
   height: 400px;
   background-color: #FFFFFF;
   border-radius: 10px;  border:20px solid green;
}
.CUADRO6{
   position: absolute;
   top: 6000px;
   left: 250px;
   width: 900px;
   height: 400px;
   background-color: #FFFFFF;
   border-radius: 10px;  border:20px solid green;
}

.b1{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b2{
	position: absolute;
	top: 1440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b3{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b4{
	position: absolute;
	top: 2440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b5{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b6{
	position: absolute;
	top: 3440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b7{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b8{
	position: absolute;
	top: 4440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b9{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b10{
	position: absolute;
	top: 5440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b11{
	position: absolute;
	top: 420px;
	left: 300px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}
.b12{
	position: absolute;
	top: 6440px;
	left: 800px;
	height: 50px;
	width: 50px;
	z-index: 300;
	border-radius: 25px;
	background: yellow;
}

.con1{
    top: -7000px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con2{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("Queesito.JPEG"); 
}
.con3{
    top: 0px;
	left: 150px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con4{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("parasir.JPEG"); 
}
.con5{
    top: 0px;
	left: 150px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con6{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("fun.JPEG"); 
}
.con7{
    top: 0px;
	left: 150px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con8{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("estru.JPG"); 
}
.con9{
    top: 0px;
	left: 150px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con10{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("rapid.JPEG"); 
}
.con11{
    top: 0px;
	left: 150px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
}
.con12{
    top: 0px;
	left: 350px;
	height: 50px;
	width: 50px;
	z-index: 300;
	display: none;
	    background-image: url("mac.JPEG"); 
}

.b1:hover .con1{
display: block;

}
.b2:hover .con2{
display: block;

}
.b3:hover .con3{
display: block;

}
.b4:hover .con4{
display: block;

}
.b5:hover .con5{
display: block;

}
.b6:hover .con6{
display: block;

}
.b7:hover .con7{
display: block;

}
.b8:hover .con8{
display: block;

}
.b9:hover .con9{
display: block;

}
.b10:hover .con10{
display: block;

}
.b11:hover .con11{
display: block;

}
.b12:hover .con12{
display: block;

}
.p{
	position: absolute;
	top: 770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.pa{
	position: absolute;
	top: 1770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.pe{
	position: absolute;
	top: 2770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.pi{
	position: absolute;
	top: 3770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.po{
	position: absolute;
	top: 4770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.pu{
	position: absolute;
	top: 5770px;
	left: -200px;
	font-size:30px;
	z-index: 300;
}
.q{
	position: absolute;
	top: -110px;
	left: -250px;
	font-size:30px;
	z-index: 300;
}
.qa1{
	position: absolute;
	top: 970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}

.qa{
	position: absolute;
	top: 1970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}
.qe{
	position: absolute;
	top: 2970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}
.qi{
	position: absolute;
	top: 3970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}
.qo{
	position: absolute;
	top: 4970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}
.qu{
	position: absolute;
	top: 5970px;
	left: -400px;
	font-size:30px;
	z-index: 300;
}
.i1{
	position: absolute;
	top: 1070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}
.i2{
	position: absolute;
	top: 2070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}
.i3{
	position: absolute;
	top: 3070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}
.i4{
	position: absolute;
	top: 4070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}
.i5{
	position: absolute;
	top: 5070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}
.i6{
	position: absolute;
	top: 6070px;
	left: -400px;
	z-index: 300;
	font-size:30px;	
}